.advantage {
  position: relative;

  text-align: center;

  &--background-bright {
    padding: 37px 18px;

    color: @color-white;

    background-color: @color-seagull;

    @media (min-width: @vp-768) {
      padding: 52px 30px 31px 30px;
    }

    @media (min-width: @vp-1200) {
      padding: 52px 65px 51px 65px;
    }
  }

  &--background-muted {
    padding: 24px 32px;

    background-color: @color-whisper-ee;

    @media (min-width: @vp-768) {
      padding: 41px 33px;
    }

    @media (min-width: @vp-1200) {
      padding: 52px 50px;
    }
  }

  &--has-line {
    @media (max-width: (@vp-768 - 0.02)) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 18px;

        width: calc(100% - 36px);
        height: 1px;

        background-color: @color-light-grey;
      }
    }
  }

  &--has-icon {
    padding: 8px 0 0 47px;

    text-align: left;

    @media (min-width: @vp-768) {
      padding: 155px 33px 63px 33px;

      text-align: center;
    }

    @media (min-width: @vp-1200) {
      padding: 169px 50px 69px 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 40px;
      height: 40px;

      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @vp-768) {
        top: 55px;
        right: 0;
        left: 0;

        margin: auto;

        background-size: contain;
      }

      @media (min-width: @vp-1200) {
        top: 65px;
      }
    }
  }

  &--accommodation {
    &::before {
      background-image: url("../img/stack.svg#icon-house");

      @media (min-width: @vp-768) {
        width: 77px;
        height: 77px;
      }
    }
  }

  &--food {
    &::before {
      background-image: url("../img/stack.svg#icon-burger");

      @media (min-width: @vp-768) {
        width: 81px;
        height: 81px;
      }

      @media (min-width: @vp-1200) {
        width: 73px;
        height: 73px;

        transform: translate(-2px, 3px);
      }
    }
  }

  &--souvenirs {
    &::before {
      background-image: url("../img/stack.svg#icon-gift");

      @media (min-width: @vp-768) {
        width: 75px;
        height: 75px;

        transform: scale(1.1) translate(2px, 6px);
      }

      @media (min-width: @vp-1200) {
        width: 77px;
        height: 77px;

        transform: scaleX(1.25) translate(-2px, 1px);
      }
    }
  }

  &--cropped {
    @media (max-width: (@vp-768 - 0.02)) {
      padding-top: 49px;
      padding-bottom: 40px;

      clip-path: polygon(50% 16px, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}

.advantage__title {
  margin: 0 auto 12px auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;

  @media (min-width: @vp-768) {
    max-width: 159px;

    font-size: 21px;
  }

  &--subtitle {
    @media (min-width: @vp-768) {
      margin-bottom: 23px;
    }
  }
}

.advantage--background-bright .advantage__title {
  color: @color-white;
}

.advantage__number {
  margin: 0 0 17px 0;

  @media (min-width: @vp-768) {
    margin-bottom: 25px;
  }
}

.advantage__description {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.advantage__description br {
  display: none;

  @media (min-width: @vp-768) {
    display: initial;
  }
}

.advantage__description .br-desktop {
  display: none;

  @media (min-width: @vp-1200) {
    display: initial;
  }
}
