.advantages {
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__heading {
  margin: 0 auto;
  max-width: 520px;
}

.advantages__item--has-photo {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__photo {
  display: block;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }
}
