.advantage {
  text-align: center;

  &--background-bright {
    color: @color-white;

    background-color: @color-seagull;
    padding: 37px 18px;
  }

  &--background-muted {
    background-color: @color-whisper-ee;
    padding: 24px 26px;
  }

  &--has-icon {
    padding: 60px 33px;
  }

  &--cropped {
    @media (max-width: (@vp-768 + 1px)) {
      clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
      padding-top: 54px;
      padding-bottom: 40px;
    }
  }
}

.advantage__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
}

.advantage--background-bright .advantage__title {
  color: @color-white;
}
