.form {
  padding: 0 20px 22px 20px;
  text-transform: uppercase;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__group {
  margin: 0;
  padding: 23px 24px;

  border: none;
  border-bottom: 1px solid @color-whisper-e5;

  &--user-information {
    padding-bottom: 39px;
  }

  &--user-contacts {
    padding-bottom: 34px;
  }
}

.form__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
}

.form__info {
  font-size: 12px;
  line-height: 21px;
  color: rgba(@color-night-rider, 0.6);
}
