.form-input__input {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: @color-white-smoke;
  border: none;
  text-transform: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}
