.form-input__text {
  display: block;
}

.form-input__input {
  width: 100%;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  text-transform: none;

  background-color: @color-white-smoke;
  background-repeat: no-repeat;
  background-position: right;
  border: none;

  &::placeholder {
    color: rgba(@color-black, 0.3);
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-letter.svg");
  }

  &--textarea {
    width: 100%;
    min-height: 150px;

    resize: none;

    @media (min-width: @vp-768) {
      min-height: 160px;
    }
  }
}
