.heading {
  max-width: 280px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @vp-768) {
    max-width: 450px;
  }

  &--index {
    max-width: 270px;

    @media (min-width: @vp-768) {
      max-width: 490px;
    }
  }
}

.heading__title {
  margin: 0 0 35px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;

  &--font-size-xl {
    font-size: 21px;
  }
}

.heading__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
