.hero {
  display: flex;
  justify-content: center;
  min-height: 389px;

  background-color: @color-shakespeare;
  background-image: url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
