.hotel-search {
  max-width: 458px;
  margin: 0 auto;
  padding: 42px 18px 49px 18px;

  @media (min-width: @vp-768) {
    padding: 60px 0 55px 0;
  }

  @media (min-width: @vp-1200) {
    padding-bottom: 66px;
  }
}

.hotel-search__heading {
  margin: 0 auto 32px auto;

  @media (min-width: @vp-768) {
    margin-bottom: 44px;
  }

  @media (min-width: @vp-1200) {
    margin-bottom: 42px;
  }
}

.hotel-search__button {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
