.main-footer {
  display: grid;
  padding: 33px 82px;

  text-transform: uppercase;

  gap: 30px;

  @media (min-width: @vp-768) {
    align-items: start;
    padding: 29px 60px 35px 60px;

    grid-template-columns: 200px 1fr 200px;
  }

  @media (min-width: @vp-1200) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.main-footer__hashtag {
  display: block;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @color-black;

  @media (min-width: @vp-768) {
    margin-top: 12px;

    text-align: left;
  }
}

.main-footer__social {
  margin: 0;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  text-align: center;
  color: @color-black;
  text-decoration: none;

  justify-self: center;

  &:hover {
    color: @color-seagull;
  }

  &:active {
    color: @color-pink-swan;
  }

  @media (min-width: @vp-768) {
    margin-top: 6px;

    text-align: left;

    justify-self: end;
  }
}

.main-footer__copyright-text {
  margin-top: 8px;
  margin-right: 12px;
}

.main-footer__copyright-logo {
  flex-shrink: 0;
}
