.media__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.media__card {
  padding: 24px 20px 25px 20px;
}

.media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.media__author {
  text-transform: none;
}
