.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-night-rider;

  background-color: @color-whisper-e7e5;
}

.page__container {
  display: grid;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;

  grid-template-rows: min-content 1fr min-content;

  @media (min-width: @vp-1200) {
    box-shadow: 0 5px 15px rgba(@color-dark-green, 0.2);
  }
}
