.page {
  height: 100%;
}

.page__body {
  height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-night-rider;

  background-color: @color-whisper-dark;
}

.page__container {
  display: grid;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  // box-shadow: 0 5px 15px rgba(@color-dark-green, 0.2);

  grid-template-rows: min-content 1fr min-content;
}
