.presentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 17px 20px 0 20px;
}

.presentation__heading {
  max-width: 445px;
  margin: 0 auto;
}

.presentation__preview {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
