.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  list-style: none;

  gap: 6px;
}

.social__link {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: @color-seagull;

  &:hover {
    background-color: @color-shakespeare-light;
  }

  &:active {
    background-color: @color-shakespeare;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 24px;
    height: 24px;
    margin: auto;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--vk::before {
    background-image: url("../img/social-vk.svg");
  }

  &--telegram::before {
    background-image: url("../img/social-telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/social-youtube.svg");
  }

  &:active::before {
    opacity: 0.3;
  }
}
