@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.page {
  height: 100%;
}
.page__body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  background-color: #e7e5e5;
}
.page__container {
  display: grid;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  grid-template-rows: min-content 1fr min-content;
}
.main-header {
  position: relative;
  min-height: 56px;
}
.main-header__logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 185px;
  margin: auto;
}
.main-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 63px;
  height: 56px;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}
.main-header__nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-header__nav {
    position: static;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr minmax(153px, 1fr) 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(3),
  .main-nav__item:nth-child(7) {
    grid-column-start: 4;
  }
}
.main-nav__link {
  display: block;
  padding: 18px 20px 17px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;
  }
}
.hero {
  display: flex;
  justify-content: center;
  min-height: 389px;
  background-color: #5496bd;
  background-image: url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
          clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 100%, 0 94%);
}
@media (min-width: 768px) {
  .hero {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.hero--inner {
  min-height: 158px;
}
@media (min-width: 768px) {
  .hero--inner {
    min-height: 290px;
  }
}
@media (min-width: 1200px) {
  .hero--inner {
    min-height: 301px;
  }
}
.advantages {
  text-transform: uppercase;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantages__sub-list {
  padding: 23px 18px 46px 18px;
  gap: 25px;
}
@media (min-width: 768px) {
  .advantages__sub-list {
    padding: 0;
    gap: 0;
    grid-column: 1/-1;
  }
}
.advantages__heading {
  max-width: 520px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__item--wide {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantages__photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .advantages__photo {
    grid-column: span 2;
  }
}
.heading {
  padding: 32px 18px;
  text-transform: uppercase;
  text-align: center;
}
.heading__title {
  margin: 0 0 35px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.heading__title--font-size-xl {
  font-size: 21px;
}
.heading__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.advantage {
  text-align: center;
}
.advantage--background-bright {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 37px 18px;
}
.advantage--background-muted {
  background-color: #eeeeee;
  padding: 24px 26px;
}
.advantage--has-icon {
  padding: 60px 33px;
}
@media (max-width: 769px) {
  .advantage--cropped {
    -webkit-clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    padding-top: 54px;
    padding-bottom: 40px;
  }
}
.advantage__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.advantage--background-bright .advantage__title {
  color: #ffffff;
}
.hotel-search {
  max-width: 458px;
  margin: 0 auto;
  padding: 60px 30px 55px 30px;
}
.hotel-search__button {
  width: 100%;
}
.button {
  display: inline-flex;
  justify-content: center;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}
.map__image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.main-footer {
  padding: 33px 82px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
}
.main-footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.main-footer__social {
  margin: 0;
}
.main-footer__copyright {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 6px;
}
.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vk {
  background-image: url("../img/social-vk.svg");
}
.social__link--telegram {
  background-image: url("../img/social-telegram.svg");
}
.social__link--youtube {
  background-image: url("../img/social-youtube.svg");
}
.feedback__heading {
  max-width: 436px;
  margin: 0 auto 53px auto;
}
@media (min-width: 768px) {
  .feedback__heading {
    margin-bottom: 108px;
  }
}
@media (min-width: 1200px) {
  .feedback__heading {
    margin-bottom: 68px;
  }
}
.form {
  padding: 0 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 60px;
  }
}
@media (min-width: 768px) {
  .form {
    padding: 0 120px;
  }
}
.form__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}
@media (min-width: 768px) {
  .form__list--columns-wide {
    padding: 0 36px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .form__list--columns-wide {
    padding: 0 53px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .form__list--columns-narrow {
    padding: 0 84px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .form__list--columns-narrow {
    padding: 0 44px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.form__group {
  position: relative;
  width: 100%;
  margin: 0 0 49px 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .form__group {
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .form__group {
    margin-bottom: 87px;
  }
}
.form__group--user-information {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .form__group--user-information {
    width: calc(50% - 29px);
    margin-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .form__group--user-information {
    width: calc(50% - 50px);
    margin-bottom: 71px;
  }
}
.form__group--user-information::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -28px;
  bottom: -8px;
  width: 1px;
  background-color: #dbdbdb;
}
@media (min-width: 1200px) {
  .form__group--user-information::before {
    right: -50px;
  }
}
@media (min-width: 768px) {
  .form__group--contacts {
    width: calc(50% - 29px);
    margin-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .form__group--contacts {
    width: calc(50% - 50px);
    margin-bottom: 71px;
  }
}
@media (min-width: 768px) {
  .form__group--impression {
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .form__group--impression {
    padding-bottom: 56px;
  }
}
.form__group--textarea {
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .form__group--textarea {
    padding-bottom: 48px;
  }
}
.form__legend {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form__legend {
    max-width: 308px;
  }
}
.form__legend::before {
  content: "";
  position: absolute;
  top: -24px;
  right: -20px;
  left: -20px;
  height: 1px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .form__legend::before {
    top: 50%;
    right: calc(100%);
    left: -123px;
    transform: translateY(-50%);
  }
}
.form__info {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
.form-input__text {
  display: block;
}
.form-input__input {
  width: 100%;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
}
.form-input__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-input__input--textarea {
  resize: none;
}
.custom-element__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
.modal__content {
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.media__heading {
  max-width: 458px;
  margin: 0 auto;
}
.media__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .media__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .media__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.media__item--full {
  grid-column: 1 / -1;
}
.media__card {
  height: 100%;
  margin: 0;
  padding: 24px 20px 25px 20px;
}
@media (min-width: 768px) {
  .media__card {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .media__card {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .media__card-link {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.media__img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .media__img {
    min-height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .media__card-description {
    display: flex;
    align-items: start;
    padding: 22px 20px 15px 20px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .media__card-description {
    margin-top: 187px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .media__card-description--background-dark {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .media__item--full .media__card-description {
    align-self: end;
    margin-top: 320px;
  }
}
.media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .media__title {
    color: #ffffff;
  }
}
.media__likes {
  color: #000000;
}
@media (min-width: 768px) {
  .media__likes {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .media__likes {
    color: #ffffff;
  }
}
.likes {
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.likes__number {
  font-weight: 700;
  color: inherit;
}
.presentation {
  max-width: 800px;
  margin: 0 auto;
  padding: 17px 20px 0 20px;
}
.presentation__heading {
  max-width: 445px;
  margin: 0 auto;
}
.presentation__preview {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
